
<div class="flex flex-col flex-auto min-w-0">


    <!-- Header -->
    <div #appendTo   class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div class="flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Aplicaciones</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <a class="ml-1 text-primary-500">Ordenes</a>
                    </div>
                </div>
                <!-- Title -->
                <div class="mt-2">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Ordenes
                    </h2>
                </div>

        </div>
    </div>
                 <!-- Alert -->
                 <!-- <fuse-alert
                 class="mt-8 -mb-4"
                 *ngIf="showAlert"
                 [appearance]="'fill'"
                 [showIcon]="true"
                 [dismissible]="true"
                 [dismissed]="false"

                 [type]="alert.type"
                 [@shake]="alert.type === 'error'">
                 {{alert.message}}
                 </fuse-alert> -->

       <!-- Main -->
       <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w12">



            <form class="w-full  max-w-lg">
                <div class="flex flex-nowrap mx-auto mb-6">
                        <div class="w-full md:w-1/2">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listcliente">
                                Cliente
                            </label>
                                <kendo-multiselect name="listcliente" id="listcliente" [data]="clientes"
                                        scrollHeight="40vh" style="width: 250px;"

                                        [(ngModel)]="selectedClientes"
                                        [checkboxes]="true"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [value]="selectedClientes"
                                        (filterChange)="handleFilter($event)"
                                        [autoClose]="false"
                                        [filterable]="true"

                                        [popupSettings]="{
                                            width: 250,
                                            height: 50
                                        }"

                                        filter="true">
                                </kendo-multiselect>
                        </div>
                        <div class="w-full md:w-1/2 px-5 ">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listestados">
                                        Estado
                                    </label>
                                    <kendo-dropdownlist name="listestados" id="listestados" [data]="listEstados"
                                    [textField]="'text'"
                                    [defaultItem]="defaultItem"
                                    [valueField]="'value'"
                                    [(ngModel)]="selectedEstados"
                                    [value]="selectedEstados"


                                    [style]="{'width':'160px'}">
                                    </kendo-dropdownlist>
                        </div>
                        <div class="w-full md:w-1/2 px-3 ">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
                                        N° Pedido
                                    </label>

                                    <kendo-textbox
                                    [style.width.px]="200"
                                    [(ngModel)]="pedido"
                                    name="pedido"
                                    id="pedido"
                                    placeholder="Pedido / Shipment"
                                    [clearButton]="true"
                                  >


                                  </kendo-textbox>
                                    <!-- <kendo-dropdownlist name="listvalortabla" id="listvalortabla" [data]="listValorTabla"
                                    [textField]="'text'"
                                    [defaultItem]="defaultItem"

                                    [(ngModel)]="selectedValorTabla"
                                    [value]="selectedValorTabla"


                                    [valueField]="'value'"
                                    [style]="{'width':'160px'}">
                                    </kendo-dropdownlist> -->
                        </div>
                        <div class="w-full md:w-1/2 px-3 ">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                                F. Despacho Inicio
                            </label>
                            <kendo-datepicker  #picker [format]="format" [(value)]="dateInicio"></kendo-datepicker>
                        </div>
                        <div class="w-full md:w-1/2 px-3 ">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                                F. Despacho Fin
                            </label>
                            <kendo-datepicker  #picker [format]="format" [(value)]="dateFin"></kendo-datepicker>
                        </div>
                <!-- </div>
                <div class="flex flex-nowrap mx-3 ml-6 mb-6"> -->

                        <button kendoButton (click)="buscar()" icon="search"> Buscar</button>
                        <!-- <button kendoButton (click)="verfiles()" fillMode="flat" icon="file">Ver Files</button> -->
                        <!-- <button kendoButton (click)="verReporte()" fillMode="flat" icon="file">Ver reporte</button>
                        <button kendoButton (click)="verReporte2()" fillMode="flat" icon="file">Facturación vs Producción</button> -->
                        <!-- <button kendoButton (click)="cerrarOt()" [primary]="true" icon="calendar">Cerrar OT</button> -->

                </div>

                <kendo-floatingactionbutton
                icon="plus" *ngIf="this.escliente === 'false'"
                title="Nueva carga"
                [offset]="{ x: '1180px', y: '175px'  }"
                [align]="{ horizontal: 'end', vertical: 'top' }"
                (click)="nuevo()"
              >
              </kendo-floatingactionbutton>

              </form>

              <div class="w-full  max-w-lg">

                    <!-- <button kendoButton rounded="full"   themeColor="primary"  (click)="nuevo()"  > Agregar </button> -->




                <div class="flex flex-nowrap mx-3 mb-6">

                    <kendo-grid
                        [data]="gridDataResult"

                        style="height: 400px; width: 1100px;"
                        [resizable]="true"

                        [pageSize]="pageSize"
                        [skip]="skip"
                        (pageChange)="pageChange($event)"

                        [pageable]="true"
                        [sortable]="{
                            allowUnsort: allowUnsort,
                            mode: 'single'
                        }"
                        [sort]="sort"
                        (sortChange)="sortChange($event)"


                        [isGroupExpanded]="isGroupExpanded"
                        (groupCollapse)="toggleGroup($event)"
                        (groupExpand)="toggleGroup($event)"

                        [groupable]="{ showFooter: true }"
                        [group]="groups"
                        (groupChange)="groupChange($event)"

                        [selectable]="true"
                        kendoGridSelectBy="id"
                        [selectedKeys]="mySelection"
                        >




                    <kendo-grid-column width="170" title="Details">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <!-- <button class="k-button" [primary]="true" (click)="showMap(dataItem)">Map</button> -->
                          <button class="k-button" [secondary]="true" (click)="showBitacora(dataItem)">Bitacora</button>
                          <button class="k-button"  [secondary]="true" (click)="verarchivos(dataItem)"> Files   </button>
                        </ng-template>
                      </kendo-grid-column>


                    <kendo-grid-column  [sticky]="true" [headerStyle]="{
                        'background-color': '#a8c3bc',
                        color: '#fff',
                        'line-height': '1em'
                      }"
                        field="remitente"  title="CLIENTE"  [width]="160" ></kendo-grid-column>



                    <kendo-grid-column  [sticky]="true" field="numero_manifiesto" [headerStyle]="{
                        'background-color': '#666',
                        color: '#fff',
                        'line-height': '1em'
                    }" [width]="90"
                    title="MANIFIESTO">
                        <ng-template kendoGridGroupHeaderTemplate let-value="value">
                        {{ value }}
                        </ng-template>

                    </kendo-grid-column>

                    <kendo-grid-column   [sticky]="true"  field="numero_ot" title="OT"  [width]="80" [headerStyle]="{ 'background-color': '#666', color: '#fff', 'line-height': '1em' }"  ></kendo-grid-column>
                    <!-- [style]="{ 'background-color': '#888', color: '#fff' }" -->
                    <kendo-grid-column   field="shipment"  title="SHIPMENT"  [width]="90"    [headerStyle]="{ 'background-color': '#666', color: '#fff', 'line-height': '1em'}">  </kendo-grid-column>
                    <kendo-grid-column   field="tracto"  title="TRACTO"  [width]="80"    [headerStyle]="{'background-color': '#666', color: '#fff', 'line-height': '1em'}" > </kendo-grid-column>
                    <kendo-grid-column   field="chofer"  title="CONDUCTOR"  [width]="190"    [headerStyle]="{'background-color': '#666', color: '#fff', 'line-height': '1em'}" > </kendo-grid-column>

                    <kendo-grid-column  field="destinatario"  title="DESTINATARIO"  [width]="180"    [headerStyle]="{'background-color': '#666', color: '#fff', 'line-height': '1em'}" > </kendo-grid-column>

                    <kendo-grid-column field="provincia_entrega" [headerStyle]="{
                        'background-color': '#666',
                        color: '#fff',
                        'line-height': '1em'
                    }" [width]="110"
                    title="PROVINCIA ENTREGA">
                        <ng-template kendoGridGroupHeaderTemplate let-value="value">
                        {{ value }}
                        </ng-template>
                    </kendo-grid-column>



                    <kendo-grid-column
                            field="fecha_carga"
                            title="F. CARGA"
                            [width]="80"
                            [headerStyle]="{
                                'background-color': '#666',
                                color: '#fff',
                                'line-height': '1em'
                            }"


                    >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.fecha_carga | date: 'dd/MM/yyyy'}}
                    </ng-template>
                    </kendo-grid-column>




                <kendo-grid-column   field="tipoServicio"  title="TIPO SERVICIO"  [width]="90"    [headerStyle]="{
                    'background-color': '#666',
                    color: '#fff',
                    'line-height': '1em'
                }">
                </kendo-grid-column>


                <kendo-grid-column   field="estado"  title="ESTADO"  [width]="90"    [headerStyle]="{
                    'background-color': '#666',
                    color: '#fff',
                    'line-height': '1em'
                }">
                </kendo-grid-column>


                <kendo-grid-column   field="tipoEntrega"  title="TIPO ENTREGA"  [width]="120"    [headerStyle]="{
                    'background-color': '#666',
                    color: '#fff',
                    'line-height': '1em'
                }">
                </kendo-grid-column>


                <kendo-grid-column   field="oc"  title="OC"  [width]="90"    [headerStyle]="{
                    'background-color': '#666',
                    color: '#fff',
                    'line-height': '1em'
                }">
                </kendo-grid-column>




                        <kendo-grid-excel
                        fileName="ots.xlsx"
                        [fetchData]="allData"
                    ></kendo-grid-excel>


                    </kendo-grid>

                </div>

               </div>
        </div>

</div>

<ng-template #template>
    <h2>TTrack</h2>
     No existen datos para las filtros seleccionados.
  </ng-template>



  <kendo-dialog title="Geo - Localización" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
    <agm-map [latitude]="lat"   [longitude]="lng" [zoom]="zoom">
        <agm-marker #maker [latitude]="lat"

          [iconUrl]="{
            url: '/assets/images/27-512.png',
            scaledSize: {
                width: 30,
                height: 30
            }
        }"
        [longitude]="lng"></agm-marker>
      </agm-map>
</kendo-dialog>

<kendo-dialog title="Bitácora" *ngIf="opened2" (close)="close2('cancel')" [minWidth]="250" [width]="650">

    <kendo-grid
    [data]="incidencias"
    style="height: 200px; width: 600px;"
    [resizable]="true">


    <kendo-grid-column  [sticky]="true" [headerStyle]="{
        'background-color': '#a8c3bc',
        color: '#fff',
        'line-height': '1em'
      }"
        field="incidencia"  title="INCIDENCIA"  [width]="160" ></kendo-grid-column>

        <kendo-grid-column   [headerStyle]="{
            'background-color': '#a8c3bc',
            color: '#fff',
            'line-height': '1em'
          }"
            field="usuario_registro"  title="USUARIO"  [width]="160" ></kendo-grid-column>

            <kendo-grid-column   [headerStyle]="{
                'background-color': '#a8c3bc',
                color: '#fff',
                'line-height': '1em'
              }"
                field="fecha_incidencia"  title="FECHA"  [width]="160" >

                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.fecha_incidencia | date: 'dd/MM/yyyy hh:mm:ss'}}
                </ng-template>

            </kendo-grid-column>



  </kendo-grid>

</kendo-dialog>

<p-overlayPanel [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"  [dismissable]="true" [showCloseIcon]="true" #op1 [appendTo]="'body'">

    <img [src]="imageToShow" width="320" height="320"
    alt="Place
    image title"
    >

</p-overlayPanel>


