<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div class="flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Aplicaciones</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <a class="ml-1 text-primary-500">Tarifas</a>
                    </div>
                </div>
                <!-- Title -->
                <div class="mt-2">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Gestión de tarifas
                    </h2>
                </div>
        </div>
    </div>


    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w12">
            <form class="w-full  max-w-lg">
                <div class="flex flex-nowrap mx-3 mb-6">



                </div>
                <div class="flex flex-nowrap mx-3 ml-6 mb-6">

                        <button kendoButton (click)="buscar()" icon="search"> Buscar</button>

                        <button kendoButton (click)="nuevo()" icon="plus"> Nuevo</button>

                </div>




              </form>

              <div class="w-full  max-w-lg">
                <div class="flex flex-nowrap mx-3 mb-6">
                    <kendo-grid
                        [data]="gridDataResult"

                        style="height: 600px; width: 1300px;"
                        [resizable]="true"

                        [pageSize]="pageSize"
                        [skip]="skip"
                        (pageChange)="pageChange($event)"

                        [pageable]="true"

                        [sort]="sort"
                        (sortChange)="sortChange($event)"

                        [selectable]="true"
                        kendoGridSelectBy="id"



                        >
                        <ng-template kendoGridToolbarTemplate>
                            <button type="button" kendoGridExcelCommand icon="file-excel">
                              Export to Excel
                            </button>
                          </ng-template>

                          <kendo-grid-column width="180" title="Details">
                            <ng-template kendoGridCellTemplate let-dataItem>

                              <!-- <button class="k-button" [primary]="true" (click)="editar(dataItem)">Editar</button> -->
                              <button class="k-button" [primary]="true" (click)="verTarifas(dataItem)">Tarifas</button>

                            </ng-template>
                         </kendo-grid-column>


                    <kendo-grid-column  [sticky]="true" [headerStyle]="{
                        'background-color': '#a8c3bc',
                        color: '#fff',
                        'line-height': '1em'
                      }"
                       field="razon_social"  title="RAZÓN SOCIAL"  [width]="350" ></kendo-grid-column>


                    <kendo-grid-column  [sticky]="true"  field="ruc"  title="RUC"  [width]="120"    [headerStyle]="{'background-color': '#666', color: '#fff', 'line-height': '1em'}" > </kendo-grid-column>


                        <kendo-grid-excel
                        fileName="ots.xlsx"

                    ></kendo-grid-excel>

                    <!--     <kendo-grid-column *ngFor="let col of columns" [field]="col.field"   [width]="col.width"  [title]="col.title" ></kendo-grid-column> -->
                    </kendo-grid>

             </div>

               </div>
        </div>

</div>



</div>




<kendo-dialog title="Nuevo" *ngIf="opened" (close)="close2('cancel')" [minWidth]="250" [width]="650">
<div class="flex">
     <div class="flex-1 w-32">
        <p class="text-blue-600/50 underline mb-2">Origen</p>
        <div class="md:w-1/2 px-3 ">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
            Departamento
            </label>
            <kendo-dropdownlist name="listDepartamentoOrigen" id="listDepartamentoOrigen" [data]="listDepartamento"
            [textField]="'text'"
            [defaultItem]="defaultItem"
            (selectionChange)="selectionChangeDepartamento($event)"

            [(ngModel)]="selectedDepartamentoOrigen"

            [valueField]="'value'"
            [style]="{'width':'260px'}">
            </kendo-dropdownlist>
        </div>
        <div class="md:w-1/2 px-3 ">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
            Provincia
            </label>
            <kendo-dropdownlist name="listProvinciaOrigen" id="listProvinciaOrigen" [data]="listProvincia"
            [textField]="'text'"
            [defaultItem]="defaultItem"

            [(ngModel)]="selectedProvinciaOrigen"


            (selectionChange)="selectionChangeProvincia($event)"

            [valueField]="'value'"
            [style]="{'width':'260px'}">
            </kendo-dropdownlist>
        </div>

        <div class="md:w-1/2 px-3 ">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
            Distrito
            </label>
            <kendo-dropdownlist name="listDistritoOrigen" id="listDistritoOrigen" [data]="listDistrito"
            [textField]="'text'"
            [defaultItem]="defaultItem"

            [(ngModel)]="selectedDistritoOrigen"



            [valueField]="'value'"
            [style]="{'width':'260px'}">
            </kendo-dropdownlist>
        </div>


        <div class="md:w-1/2 px-3 ">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
            Tipo de Unidad
            </label>
            <kendo-dropdownlist name="listTipoUnidad" id="listTipoUnidad" [data]="listTipoUnidad"
            [textField]="'text'"
            [defaultItem]="defaultItem"

            [(ngModel)]="selectedTipoUnidad"



            [valueField]="'value'"
            [style]="{'width':'260px'}">
            </kendo-dropdownlist>
        </div>

        <div class="md:w-1/2 px-3 mt-3">
            <button kendoButton (click)="guardar()" fillMode="flat" icon="file">Guardar</button>
            <button kendoButton (click)="close()" fillMode="flat" icon="file">Cerrar</button>
          </div>

    </div>

    <div class="flex-1 w-32">
        <p class="text-blue-600/50 underline mb-2">Destino</p>
        <div class="md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
            Departamento
            </label>
            <kendo-dropdownlist name="listDepartamentoDestino" id="listDepartamentoDestino" [data]="listDepartamento"
            [textField]="'text'"
            [defaultItem]="defaultItem"
            (selectionChange)="selectionChangeDepartamento($event)"

            [(ngModel)]="selectedDepartamento"
            [value]="selectedDepartamentos"


            [valueField]="'value'"
            [style]="{'width':'260px'}">
            </kendo-dropdownlist>
        </div>
        <div class="w-full md:w-1/2 px-3 ">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
            Provincia
            </label>
            <kendo-dropdownlist name="listProvinciaDestino" id="listProvinciaDestino" [data]="listProvincia"
            [textField]="'text'"
            [defaultItem]="defaultItem"

            [(ngModel)]="selectedProvincia"
            [value]="selectedProvincias"

            (selectionChange)="selectionChangeProvincia($event)"

            [valueField]="'value'"
            [style]="{'width':'260px'}">
            </kendo-dropdownlist>
        </div>

        <div class="w-full md:w-1/2 px-3 ">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
            Distrito
            </label>
            <kendo-dropdownlist name="listDistritoDestino" id="listDistritoDestino" [data]="listDistrito"
            [textField]="'text'"
            [defaultItem]="defaultItem"

            [(ngModel)]="selectedMarca"
            [value]="selectedMarcas"


            [valueField]="'value'"
            [style]="{'width':'260px'}">
            </kendo-dropdownlist>
        </div>

          <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="tarifa">
            Tarifa
        </label>
        <kendo-textbox
        [style.width.px]="250"
        name="tarifa"
        id="tarifa"
        placeholder="Tarifa"
        [(ngModel)]="model.tarifa"
        [clearButton]="true"  >
       </kendo-textbox>
    </div>


    </div>

</div>


     <!-- <div class="w-full md:w-1/2 px-3 ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="listvalortabla">
           Distrito
        </label>
        <kendo-dropdownlist name="listtipo" id="listtipo" [data]="listTipos"
        [textField]="'text'"
        [defaultItem]="defaultItem"

        [(ngModel)]="selectedTipo"
        [value]="selectedTipos"


        [valueField]="'value'"
        [style]="{'width':'460px'}">
        </kendo-dropdownlist>
     </div> -->

     <!-- <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="placa">
            Placa
        </label>
        <kendo-textbox
        [style.width.px]="250"
        name="placa"
        id="placa"
        placeholder="Placa"
        [(ngModel)]="model.placa"
        [clearButton]="true"  >
       </kendo-textbox>
    </div> -->




    <!-- <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="placa">
            Configuración
        </label>
        <kendo-textbox
        [style.width.px]="250"
        name="confveh"
        id="confveh"
        placeholder="confveh"
        [(ngModel)]="model.confveh"
        [clearButton]="true">
       </kendo-textbox>
    </div> -->



</kendo-dialog>
