.widget {
    position: relative;
    margin-bottom: 0.875rem;
    padding: 5px 20px;
    background: #fff;
    border-radius: 0.2rem; }
    .widget > header {
      margin: -15px -20px;
      padding: 15px 20px; }
      .widget > header h1, .widget > header h2, .widget > header h3, .widget > header h4, .widget > header h5, .widget > header h6 {
        margin: 0; }
      .widget > header + .widget-body,
      .widget > header + .widget-body.no-padding {
        margin-top: 15px; }
    .widget > .widget-body.no-padding {
      margin: -15px -20px; }
      .widget > .widget-body.no-padding + footer {
        margin-top: 15px; }
    .widget > footer {
      margin: 0 -20px -15px;
      padding: 15px 20px; }
    .widget:hover .widget-controls-hover {
      opacity: 1; }
    .widget .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .widget .loader .spinner {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -10px;
        font-size: 20px;
        text-align: center; }
    .widget .widget-table-overflow {
      margin: 0 -20px -15px; }

      .widget-card {
        min-height: 5px; }

        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
            position: relative;
            min-height: 1px;
            padding-left: 0.9375rem;
            padding-right: 0.9375rem; }

            .widget-icon {
                opacity: .5;
                font-size: 42px;
                height: 70px; }
                .widget-icon .glyphicon {
                  top: 5px; }


.bg-principal {
    background-color: #090088;
}

.bg-secundario {
    background-color: #d8d1b0;
}

.bg-tercero {
    background-color: #96c8a2;
}
.bg-cuarto {
    background-color: #ed8e53;
}
.bg-quinto {
    background-color: #2F4F4F;
}
.badge-danger{
    background-color:#e91224;
    color:#fff;
    width: auto;



}

.badge-success {
    background-color: #03791e;
    color:#fff
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; }
    @media (min-width: 768px) {
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
          float: left; }
        .col-md-1 {
          width: 8.3333333333%; }
        .col-md-2 {
          width: 16.6666666667%; }
        .col-md-3 {
          width: 25%; }
        .col-md-4 {
          width: 33.3333333333%; }
        .col-md-5 {
          width: 41.6666666667%; }
        .col-md-6 {
          width: 50%; }
        .col-md-7 {
          width: 58.3333333333%; }
        .col-md-8 {
          width: 66.6666666667%; }
        .col-md-9 {
          width: 75%; }
        .col-md-10 {
          width: 83.3333333333%; }
        .col-md-11 {
          width: 91.6666666667%; }
        .col-md-12 {
          width: 100%; }
        }
